.body_e {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main_e {
    width: 80%;
    height: 80%;
    margin-top: 14vh;
    margin-left: 32vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.title{
    color: #545454;
    font-weight: bold;
    font-size: 25px;
}
.search{
        width: 30%;
        border-radius: 16px;
        border: 1px solid #CFCFCF;
        background-color: #F1F1F1;
        text-align: center;
}
.search::placeholder{
    color: #545454;
    font-size: medium;
    display: flex;
    text-align: center;
}
.filter{
    color: #545454;
    font-size: 25px;
    font-weight: bolder;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.icon{
    font-size: 20px;
}
.filter:hover{
    background-color: #F1F1F1;
}

.content{
    margin-top: 6vh;
    margin-left: 25.5vh;
    height: 80%;
    display: flex;
    justify-content: center;
}
.table{
    height: 100%;
    width: 100%;
}
.tr{
    display: flex;
    justify-content: space-between;
}
.content-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.details{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail_body{
    margin-left: 3.5vw;
    width: 25%;
    display: flex;
    
}
.head{
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    font-size: 25px;
    color: #545454;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}
.other-details{
    width: 18.75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tbody{
    border-bottom: 1px solid #545454;
    padding-top: 1%;
    padding-bottom: 1%;
}
.tbody:hover{
    background-color: #F1F1F1;
}
.tbody:hover .detail_body{
    display: none;
}
.detail_body_hide{
    font-weight: bold;
    margin-left: 3.5vw;
    width: 25%;
    display: none;
    align-items: center;
    justify-content: center;
}
.tbody:hover .detail_body_hide{
    display: block;
}
.body_icon{
    width: 40%;
    padding-top: 0.5vh;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.p, .t {
    color: black;
}
.t, .p:hover{
    cursor: pointer;
}
.deletion{
    margin-top: 20vh;
    margin-left: 40vw;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
}
.background{
    width: 25%;
    height: 45%;
    background-color: #FFFFFF;
    border: 2px solid #CFCFCF;
    justify-content: center;
    display: flex;
    align-items: center;
     flex-direction: column; 
}
.alert{
    font-size: 80px;
    color: #EF8F0E ;
}
.confirm_button{
    width: 80%;
    height:20% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel{
    background-color: #F1F1F1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
    color: #545454;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.delete{
    background-color: #EF8F0E;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 10px;

}
.deletion{
    display: none;
}
  