* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

.view_2 {
  position: relative;
  left: 280px;
  color: rgba(0, 0, 0, 0.732);
  font-weight: bold;
  font-size: 21.2px;
  margin-right: auto;
  width: 100%;
  top: 100px;
}

.search_2 {
  font-size: 18px;
  margin-left: 370px;
  margin-top: 30px;
  width: 30%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 16px;
  border: 2px solid #cfcfcf;
  background-color: #f1f1f1;
  text-align: center;
}

.tables_2,
.th_23,
.td_2 {
  border: 2px solid #f1f1f1;
  border-collapse: collapse;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 7px;
  color: rgba(0, 0, 0, 0.732);
}

.th_2 {
  border: 2px solid #f1f1f1;
  border-collapse: collapse;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 7px;
  color: #545454;
  font-size: 20px;
  font-weight: 500;
}

.tr_2:hover {
  background-color: #cfcfcf9e;
}

.tables_2 {
  margin-left: 10px;
  margin-top: 80px;
  width: 75%;
}

.filter_2 {
  color: #545454;
  margin-right: 400px;
  position: absolute;
  padding: 10px;
  border-radius: 2px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.icon_2 {
  font-size: 20px;
}

.filter_2:hover {
  background-color: #f1f1f1;
}
