* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main_adds {
  width: 80%;
  height: 80%;
  padding-top: 100px;
  margin-left: 16%;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.add_dels {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.button_eds {
  width: 80px;
  background-color: #ef8f0e;
  color: #ffffff;
  padding: 5px;
  border: none;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.profile_heads {
  width: 80%;
  height: 100%;
  margin-top: 3vh;
  margin-left: 16%;
  display: flex;
}
.view_hs {
  font-size: larger;
  color: #545454;
  font-weight: bold;
}
.view_imgs {
  width: 20%;
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.v_profile_imgs {
  width: 27vh;
  height: 27vh;
}
.personal_infos {
  width: 80%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
  margin-left: 1vw;
}
.first_subs {
  margin: 1vh;
  width: 50%;
  display: inline-table;
}
.alignments {
  width: 90%;
  margin: 2vh;
  display: flex;
  justify-content: space-between;
}
.v_lables {
  font-weight: bold;
  font-size: 15px;
  color: #545454;
}
.view_ps,
.view_bs {
  width: 65%;
  font-weight: 600;
  border: 2px solid #f1f1f1;
  margin-left: 2vh;
}
.download_buttons {
  width: 62.5%;
  padding-top: 1.5px;
  padding-bottom: 2px;
  border: none;
  font-weight: bold;
  color: #ffffff;
  background-color: #ef8f0e;
}
.view_bs {
  border: none;
}
.second_subs {
  margin: 1vh;
  width: 100%;
  height: 100%;
  display: inline-table;
}
.view_seconds {
  width: 60%;
  font-weight: 600;
  border: 2px solid #f1f1f1;
  margin-left: 2vh;
}
